sup {
    position: relative;
    top: -0.4em;
    vertical-align: baseline;
}

sub {
    position: relative;
    top: 0.4em;
    vertical-align: baseline;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

@media screen and (min-device-pixel-ratio: 0), (-webkit-min-device-pixel-ratio: 0), (min--moz-device-pixel-ratio: 0) {
    .view {
        font-size: 10em;
        transform: scale(0.1);
        -moz-transform: scale(0.1);
        -webkit-transform: scale(0.1);
        -moz-transform-origin: top left;
        -webkit-transform-origin: top left;
    }
}

.layer {
}

.ie {
    font-size: 1pt;
}

.ie body {
    font-size: 12em;
}

.stl_01 {
    position: absolute;
    white-space: nowrap;
}

.stl_02 {
    height: 70.08334em;
    font-size: 2.25em;
    /*margin: 0;*/
    line-height: 0.0em;
    display: block;
    border-style: none;
    width: 49.58333em;
}

.stl_03 {
    position: relative;
}

.stl_04 {
    position: absolute;
    left: 0em;
    top: 0em;
}

.stl_05 {
    position: relative;
    width: 49.58333em;
}

.stl_06 {
    height: 7.008333em;
}

.ie .stl_06 {
    height: 70.08334em;
}

@font-face {
    font-family: "JNHWFN+Roboto-Thin";
    src: url("../font/546454ef-0000-0000-0000-000000000000.woff") format("woff");
}

.stl_07 {
    font-size: 2.6567em;
    font-family: "JNHWFN+Roboto-Thin", "Times New Roman";
    color: #5D5D5D;
}

.stl_08 {
    line-height: 1.200195em;
}

.stl_09 {
    /* letter-spacing: -0.288em; */
}

.ie .stl_09 {
    letter-spacing: -12.2434px;
}

@font-face {
    font-family: "WOTDHW+Roboto-Bold";
    src: url("../font/roboto-v29-latin-700.woff") format("woff");
}

.stl_10 {
    font-size: 2.6567em;
    font-family: "WOTDHW+Roboto-Bold", "Times New Roman", serif;
    color: #333333;
}

@font-face {
    font-family: "HTALUK+SourceSansPro-Regular-Identity-H";
    src: url("../font/5376b8ec-0000-0000-0000-000000000000.woff") format("woff");
}

.stl_11 {
    font-size: 0.630967em;
    font-family: "HTALUK+SourceSansPro-Regular-Identity-H", "Times New Roman";
    color: #FFFFFF;
}

.stl_12 {
    line-height: 1.4em;
}

.stl_13 {
    letter-spacing: -0.0032em;
}

.ie .stl_13 {
    letter-spacing: -0.0321px;
}

@font-face {
    font-family: "DCHJWJ+FontAwesome5Free-Solid-Identity-H";
    src: url("../font/426886fd-0000-0000-0000-000000000000.woff") format("woff");
}

.stl_14 {
    font-size: 0.56455em;
    font-family: "DCHJWJ+FontAwesome5Free-Solid-Identity-H", "Times New Roman";
    color: #333333;
}

.stl_15 {
    line-height: 1.003em;
}

.stl_16 {
    letter-spacing: 0.002em;
}

.ie .stl_16 {
    letter-spacing: 0.0179px;
}

@font-face {
    font-family: "POJATM+Roboto-Regular";
    src: url("../font/139334a8-0000-0000-0000-000000000000.woff") format("woff");
}

.stl_17 {
    font-size: 0.56455em;
    font-family: "POJATM+Roboto-Regular", "Times New Roman";
    color: #333333;
}

@font-face {
    font-family: "BPFFBI+FontAwesome5Brands-Regular-Identity-H";
    src: url("../font/54a4f090-0000-0000-0000-000000000000.woff") format("woff");
}

.stl_18 {
    font-size: 0.56455em;
    font-family: "BPFFBI+FontAwesome5Brands-Regular-Identity-H", "Times New Roman";
    color: #333333;
}

.stl_19 {
    line-height: 1.007em;
}

@font-face {
    font-family: "VEQRMA+SourceSansPro-Bold-Identity-H";
    src: url("../font/0e0d38ab-0000-0000-0000-000000000000.woff") format("woff");
}

.stl_20 {
    font-size: 1.32835em;
    font-family: "VEQRMA+SourceSansPro-Bold-Identity-H", "Times New Roman";
    color: #DC3522;
}

.stl_21 {
    line-height: 1.412em;
}

.stl_22 {
    letter-spacing: -0.0048em;
}

.ie .stl_22 {
    letter-spacing: -0.101px;
}

.stl_23 {
    font-size: 1.32835em;
    font-family: "VEQRMA+SourceSansPro-Bold-Identity-H", "Times New Roman";
    color: #333333;
}

.stl_24 {
    font-size: 0.830217em;
    font-family: "VEQRMA+SourceSansPro-Bold-Identity-H", "Times New Roman";
    color: #414141;
}

.stl_25 {
    letter-spacing: -0.0017em;
}

.ie .stl_25 {
    letter-spacing: -0.0232px;
}

@font-face {
    font-family: "JJIHHH+SourceSansPro-LightIt-Identity-H";
    src: url("../font/58814d6d-0000-0000-0000-000000000000.woff") format("woff");
}

.stl_26 {
    font-size: 0.7472em;
    font-family: "JJIHHH+SourceSansPro-LightIt-Identity-H", "Times New Roman";
    color: #DC3522;
}

.stl_27 {
    letter-spacing: -0.0008em;
}

.ie .stl_27 {
    letter-spacing: -0.0092px;
}

.stl_28 {
    font-size: 0.664175em;
    font-family: "JJIHHH+SourceSansPro-LightIt-Identity-H", "Times New Roman";
    color: #5D5D5D;
}

.stl_29 {
    letter-spacing: 0.0006em;
}

.ie .stl_29 {
    letter-spacing: 0.0065px;
}

.stl_30 {
    font-size: 0.664175em;
    font-family: "HTALUK+SourceSansPro-Regular-Identity-H", "Times New Roman";
    color: #5D5D5D;
}

.stl_31 {
    letter-spacing: -0.0016em;
}

.ie .stl_31 {
    letter-spacing: -0.0174px;
}

@font-face {
    font-family: "OBNOCB+SourceSansPro-Light-Identity-H";
    src: url("../font/d1f08c2a-0000-0000-0000-000000000000.woff") format("woff");
}

.stl_32 {
    font-size: 0.7472em;
    font-family: "OBNOCB+SourceSansPro-Light-Identity-H", "Times New Roman";
    color: #333333;
}

.stl_33 {
    letter-spacing: 0em;
}

.ie .stl_33 {
    letter-spacing: 0px;
}

.stl_34 {
    letter-spacing: -0.0029em;
}

.ie .stl_34 {
    letter-spacing: -0.0343px;
}

.stl_35 {
    letter-spacing: 0.0013em;
}

.ie .stl_35 {
    letter-spacing: 0.0133px;
}

.stl_36 {
    letter-spacing: 0.0014em;
}

.ie .stl_36 {
    letter-spacing: 0.0147px;
}

.stl_37 {
    letter-spacing: -0.0046em;
}

.ie .stl_37 {
    letter-spacing: -0.0552px;
}

.stl_38 {
    letter-spacing: 0.0003em;
}

.ie .stl_38 {
    letter-spacing: 0.0028px;
}

.stl_39 {
    letter-spacing: -0.0056em;
}

.ie .stl_39 {
    letter-spacing: -0.0664px;
}

.stl_40 {
    letter-spacing: -0.0028em;
}

.ie .stl_40 {
    letter-spacing: -0.0596px;
}

.stl_41 {
    letter-spacing: -0.0027em;
}

.ie .stl_41 {
    letter-spacing: -0.0354px;
}

@font-face {
    font-family: "VANUHO+FontAwesome5Free-Regular-Identity-H";
    src: url("../font/80753c7d-0000-0000-0000-000000000000.woff") format("woff");
}

.stl_42 {
    font-size: 0.830217em;
    font-family: "VANUHO+FontAwesome5Free-Regular-Identity-H", "Times New Roman";
    color: #DC3522;
}

.stl_43 {
    line-height: 1.002em;
}

.stl_44 {
    letter-spacing: -0.0055em;
}

.ie .stl_44 {
    letter-spacing: -0.0658px;
}

.stl_45 {
    font-size: 0.664175em;
    font-family: "VEQRMA+SourceSansPro-Bold-Identity-H", "Times New Roman";
    color: #5D5D5D;
}

.stl_46 {
    letter-spacing: -0.0012em;
}

.ie .stl_46 {
    letter-spacing: -0.0132px;
}

.stl_47 {
    letter-spacing: 0.003em;
}

.ie .stl_47 {
    letter-spacing: 0.0319px;
}

.stl_48 {
    letter-spacing: -0.0052em;
}

.ie .stl_48 {
    letter-spacing: -0.0616px;
}

.stl_49 {
    letter-spacing: -0.0066em;
}

.ie .stl_49 {
    letter-spacing: -0.0877px;
}

.stl_50 {
    letter-spacing: -0.0073em;
}

.ie .stl_50 {
    letter-spacing: -0.0877px;
}

.stl_51 {
    letter-spacing: -0.0033em;
}

.ie .stl_51 {
    letter-spacing: -0.0392px;
}

.stl_52 {
    letter-spacing: -0.0071em;
}

.ie .stl_52 {
    letter-spacing: -0.0949px;
}

.stl_53 {
    letter-spacing: -0.0079em;
}

.ie .stl_53 {
    letter-spacing: -0.0949px;
}

.stl_54 {
    letter-spacing: -0.0009em;
}

.ie .stl_54 {
    letter-spacing: -0.0114px;
}

.stl_55 {
    letter-spacing: -0.001em;
}

.ie .stl_55 {
    letter-spacing: -0.0114px;
}

.stl_56 {
    letter-spacing: -0.0026em;
}

.ie .stl_56 {
    letter-spacing: -0.0351px;
}

.stl_57 {
    font-size: 0.830217em;
    font-family: "DCHJWJ+FontAwesome5Free-Solid-Identity-H", "Times New Roman";
    color: #DC3522;
}

.stl_58 {
    letter-spacing: -0.0058em;
}

.ie .stl_58 {
    letter-spacing: -0.0615px;
}

.stl_59 {
    letter-spacing: -0.0011em;
}

.ie .stl_59 {
    letter-spacing: -0.0127px;
}

.stl_60 {
    letter-spacing: -0.0034em;
}

.ie .stl_60 {
    letter-spacing: -0.0409px;
}

.stl_61 {
    letter-spacing: -0.0024em;
}

.ie .stl_61 {
    letter-spacing: -0.0281px;
}

@font-face {
    font-family: "DWRGBO+SourceSansPro-Semibold-Identity-H";
    src: url("../font/fef49ffc-0000-0000-0000-000000000000.woff") format("woff");
}

.stl_62 {
    font-size: 0.7472em;
    font-family: "DWRGBO+SourceSansPro-Semibold-Identity-H", "Times New Roman";
    color: #333333;
}

.stl_63 {
    letter-spacing: -0.0013em;
}

.ie .stl_63 {
    letter-spacing: -0.0151px;
}

.stl_64 {
    font-size: 0.7472em;
    font-family: "BPFFBI+FontAwesome5Brands-Regular-Identity-H", "Times New Roman";
    color: #DC3522;
}

.stl_65 {
    letter-spacing: -0.0021em;
}

.ie .stl_65 {
    letter-spacing: -0.0284px;
}

.stl_66 {
    letter-spacing: -0.0036em;
}

.ie .stl_66 {
    letter-spacing: -0.0482px;
}

.stl_67 {
    letter-spacing: -0.0035em;
}

.ie .stl_67 {
    letter-spacing: -0.0372px;
}

.stl_68 {
    letter-spacing: -0.0025em;
}

.ie .stl_68 {
    letter-spacing: -0.0305px;
}

.stl_69 {
    letter-spacing: -0.0015em;
}

.ie .stl_69 {
    letter-spacing: -0.0181px;
}

.stl_70 {
    letter-spacing: -0.0023em;
}

.ie .stl_70 {
    letter-spacing: -0.027px;
}

.stl_71 {
    letter-spacing: -0.0019em;
}

.ie .stl_71 {
    letter-spacing: -0.0227px;
}

.stl_72 {
    font-size: 0.664175em;
    font-family: "HTALUK+SourceSansPro-Regular-Identity-H", "Times New Roman";
    color: #999999;
}

.stl_73 {
    letter-spacing: -0.0074em;
}

.ie .stl_73 {
    letter-spacing: -0.0788px;
}
